html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.homepage-container {
  background-color: #cdbda7;
  background-size: auto;
  background-position: 0 0;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3rem;
}

.homepage-title {
  color: #1a2923;
  text-align: center;
  margin: 0;
  padding: 20px;
}
